<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css">
  <!-- <link rel="stylesheet" href="../styles/forgot-password.css"> -->
  <script>
    function enforceCapital(input) {
      input.value = input.value.toUpperCase();
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="inner-container">
      <div class="widget-user-image">
        <img class="imglogo" src="img/logo.png" alt="Logo">
      </div>
      <br>
      <label for="tab-1" class="tab"><label class="welcome">WELCOME</label><label class="title"><br>T0<br>GOVT DEGREE
          COLLEGE MATHRA<br>KHYBER PAKHTUNKHWA</label></label>
      <br><br>
      <form action="/forgot-password" method="POST">
        <div class="form-container">
            <div class="form-group">
              <input type="text" class="input" placeholder="Faculty ID" required oninput="enforceCapital(this)"
                name="Faculty_ID">
            </div>
            <div class="form-group">
              <input type="text" class="input" placeholder="Username" required oninput="enforceCapital(this)"
                name="username">
            </div>
            <div class="form-group">
              <input type="password" class="input" placeholder="Enter New Password" required name="new_password">
            </div>
            <div class="form-group">
               <button type="submit" >Change Password</button>
            </div>
        
           
        </div>
      </form>
      <br><br>
			<label for="tab-1"  class="tab"><label class="welcome">STUDENTS' ATTENDANCE MANAGEMENT SYSTEM</label>
			
    </div>
  </div>
</body>

</html>