<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/forgot-password.css">
	<script>
		function enforceCapital(input){
			input.value = input.value.toUpperCase();
		}
	</script>
</head>
<body>
    <div class="register-container">
		<div class="sign-up">
			<div class="widget-user-image">
				<img class="imglogo" src="img/logo.png" alt="Logo">
			</div>
			<br>
			<label for="tab-1"  class="tab"><label class="welcome">WELCOME</label><label class="title"><br>T0<br>GOVT DEGREE COLLEGE MATHRA<br>KHYBER PAKHTUNKHWA</label></label>
			<br><br>
			<form action="/forgot-password" method="POST">
            <div class="form-group">
              <label for="Faculty_ID">Faculty ID</label>
              <input type="text" class="form-control" oninput="enforceCapital(this)" name="Faculty_ID">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" oninput="enforceCapital(this)" name="username">
            </div>
            <div class="form-group">
              <label for="new_password">Enter New Password</label>
              <input type="password" class="form-control" name="new_password">
            </div>
            
            <button type="submit" class="btn">Change Password</button>
          </form>
		</div>
    </div>
</body>
</html>