<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/register.css">
	<script>
		function enforceCapital(input){
			input.value = input.value.toUpperCase();
		}
	</script>
</head>
<body>
    <div class="container">
		<div class="inner-container">
			<div class="widget-user-image">
				<img class="imglogo" src="img/logo.png" alt="Logo">
			</div>
			<br>
			<label for="tab-1"  class="tab"><label class="welcome">WELCOME</label><label class="title"><br>T0<br>GOVT DEGREE COLLEGE MATHRA<br>KHYBER PAKHTUNKHWA</label></label>
			<br><br>
            <form action="/register" method="POST">
                <div class="form-container">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email / Username" required
                            oninput="enforceCapital(this)" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required name="password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contact No" name="contactNo" required pattern="[0-9]{}"
                            title="e.g. 03212345678">
                    </div>
                    <div class="form-group">
                        <select class="selectBox" required name="designation">
                            <option value="others" disabled selected>Select Designation</option>
                            <option value="Principal">Principal</option>
                            <option value="Associate Professor">Associate Professor</option>
                            <option value="Assistant Professor">Assistant Professor</option>
                            <option value="Lecturer">Lecturer</option>
                            <option value="admin">Administrator</option>
                            <option value="MS">Ministerial Staff</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="selectBox" required name="department">
                            <option value="others" disabled selected>Select subject</option>
                            <% for( let index=0; index < data.length; index++ ) { %>
                                <option value="<%=data[index].department_id%>">
                                    <%= data[index].department %>
                                </option>
                                <% } %>
            
            
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </div>
            
            </form>
            <br><br>
			<label for="tab-1"  class="tab"><label class="welcome">STUDENTS' ATTENDANCE MANAGEMENT SYSTEM</label>
			
		</div>
    </div>
</body>
</html>