.footer-container {
  background-color: #7a1919ff;
  box-shadow: 0 0 10px rgba(0, 100, 0, 0.9);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media(max-width:400px){
    .footer-container {
    font-size: 0.7rem;      
    padding: 6px 0;        
    box-shadow: none;       
    background-color: #8b1c1c; 
    margin-top: 100px;
  
    }
}